.navbar{
    width: 100%;
    height: 70px;
    background-color: #1473bc;
    display: flex;
    flex-direction: row;
    
}
.nav{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 5px;
    
}
.logo{
    padding-left: 10px;
}
.lst{
    color: rgb(191, 241, 8);
    padding: 20px;
    font-size: 26px;
    text-decoration: none;
}
.lst:hover {
    text-decoration: underline; /* Add underline on hover if desired */
    color: chartreuse;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: #142948;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #4caf50; /* Change the background color on hover */
  }
  

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142948;
  color: #f9fafb;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s ease-in-out;
  
  /* Set the height of the button */
  width: 75px; /* Adjust the value based on your preference */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.Btn:hover {
  background-color: #db06cd;
  
}